* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #fcfffc;
}

header {
  width: 100%;
  height: 180px;
  background-color: #192333;
  color: #fcfffc;
  text-align: center;
  padding-top: 50px;
}

header h1 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 20px;
}

.aboutMe {
  background-color: #f0e9e9;
  padding: 40px;
  margin: 20px 120px;
  border-radius: 5px;
  text-align: center;
}

.aboutMe h2 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.Education {
  background-color: rgb(74, 226, 226);
}
.Education div {
  margin: 10px 180px;
}

.Education div p {
  background-color: #fff;

  padding: 10px 0px;
  margin-bottom: 10px;
}

#contact {
  background-color: antiquewhite;
}

#project {
  background-color: rebeccapurple;
}

#skill {
  background-color: red;
}

footer {
  height: 70px;
  background-color: #192333;
  color: #fcfffc;
  text-align: center;
  padding-top: 35px;
}
